.aboutUs {
  text-align: center;
  padding: 2rem;
  height: auto; 
  background-color: #f9f9f9;
  color: #333;
}

.aboutUs h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #4CAF50;
  font-family: 'Montserrat', sans-serif;
}

.iconRow {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.iconBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconBlock p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #666;
  font-weight: bold;
}

.abtText {
  max-width: 800px;
  margin: 0 auto;
}

.abtText p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.team-section {
  text-align: center;
  padding: 2rem;
}

.team-members {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  padding-top: 1rem;
}

.team-members {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  padding-top: 1rem;
}

.team-members:first-child {
  margin-bottom: 20px; 
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 150px; 
}

.team-member p {
  font-size: 1rem; 
  color: #666; 
  margin-top: 5px; 
  margin-bottom: 0; 
}

.team-member-img {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-bottom: 10px; 
}

.member-info {
  text-align: center; 
  width: 150px; 
  height: 100px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background-color: #007bff; 
  color: white; 
  border-radius: 10px; 
  margin-top: 5px; 
}

.member-info div {
  font-size: 1.5rem; 
  margin: 0; 
}

.member-info p {
  font-size: 1rem; 
  color: #666; 
  margin: 0; 
}
